# Customize as needed.  The default is the user librehq running on localhost.

# We need a default database uri for migrations
# SQLALCHEMY_DATABASE_URI='postgresql://<user>:<pass>@<host>/librehq_wikis'
# SQLALCHEMY_BINDS = {
#     "wikis": 'postgresql://<wikis_user>:<wikis_pass>@<wikis_host>/librehq_wikis'
# }
SQLALCHEMY_DATABASE_URI='postgresql://librehq:pass@localhost/librehq_wikis'
SQLALCHEMY_BINDS = {
    "wikis": 'postgresql://librehq:pass@localhost/librehq_wikis'
}
