[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
"csv2wiki" = {git = "https://github.com/OpenTechStrategies/csv2wiki", editable = true, ref = "module-ize"}


[dev-packages]

